<div class="container col-12 bg-light py-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 font3">
    <section class="text-center">
      <h1 class="my-4">このサイトは？</h1>
      <p class="mt-5 pb-5">
        このサイトはゲームのレビューを投稿・閲覧できるサイトです。<br>
        ご自身の好きなゲームのレビューを投稿する、<br>
        他のユーザーが投稿したレビューを閲覧する。<br>
        もし、レビューを閲覧して気になるゲームがあったらコメントで質問してみることも可能です。<br>
      </p>
    </section>
  </div>
</div>