<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap">
        <h3>
          <i class="fas fa-lightbulb text-warning"></i>
          新着レビュー
          <i class="fas fa-lightbulb text-warning"></i>
        </h3>
        <div class="ml-auto btn btn-success h3 btn-lg">
          <i class="fas fa-plus-circle"></i>
            <%= link_to "レビュー投稿", "#" %>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>