<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="font3 text-center">
        <h1 class="mb-5">Gamers-reviewへようこそ！！</h1>
        <p>
          レビューはアカウントを作成しなくても閲覧することができます！<br>
          レビューの投稿・レビューへのコメントはアカウント作成が必要になります。
        </p>
      </div>
      <div class="mt-5 col-md-12">
        <% unless user_signed_in? %>
          <div class="mx-auto mb-5" style="width: 300px;">
            <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <div class="mx-auto mb-5" style="width: 300px;">
            <%= link_to " ログインする ", new_user_session_path, class: "btn btn-success btn-lg px-5 btn-block" %>
          </div>
          <div class="mx-auto mb-5" style="width: 300px;">
            <%= link_to "ゲストユーザーとしてログインする", user_guest_sign_in_path, method: :post, class: "btn btn-guest text-white btn-block" %>
          </div>
        <% end %>
        <div class="mx-auto mb-5" style="width: 300px;">
          <%= link_to "レビューを見る", reviews_path, class: "btn btn-warning btn-lg px-5 text-white btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>