<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="font3 text-center">
        <h1 class="mb-5">Gamers-reviewへようこそ！！</h1>
        <p>
          レビューはアカウントを作成しなくても閲覧することができます！<br>
          レビューの投稿・レビューへのコメントはアカウント作成が必要になります。
        </p>
      </div>
      <div class="text-center mt-5">
        <div class="mb-5">
          <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        </div>
        <div class="mb-5">
          <%= link_to " ログインする ", new_user_session_path, class: "btn btn-success btn-lg px-5" %>
        </div>
        <div class="mb-5">
          <%= link_to "レビューを見る", reviews_path, class: "btn btn-warning btn-lg px-5 text-white" %>
        </div>
        <div class="mb-5">
          <%= link_to "ゲストユーザーとしてログインする", user_guest_sign_in_path, method: :post, class: "btn btn-guest text-white" %>
        </div>
      </div>
    </div>
  </div>
</div>