// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-guest {
  display: inline-block;
  padding: 10px 20px!important;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  background-size: 200% 100%;
}

.btn-guest:hover{
  background-position: 100% 0;
}