// Place all the styles related to the user/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px !important;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


//↓通報ボタン

.clicktxt {
color:#ffffff;
background-color: red;
padding:15px;
border-radius: 10px;
}

.clicktxt:hover {
  background-color: #c70000;
}

.switchdsp input {
display: none;
}

.switchdsp .dsp {
padding: 0px 10px 0px 10px;
height: 0;
overflow: hidden;
transition: 0.1s;
opacity: 0;
}

.switchdsp input:checked ~ .dsp {
padding: 0px 25px 0px 25px;
height: auto;
opacity: 1;
}

//↓レビュー詳細画面のタイトル
.box{
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
