<footer class="align-middle">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <h3 class="footer-content">No Game, No Life</h3>
      </div>
    </div>
  </div>
</footer>